name: CI - Build Containers

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-containers:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build API and Web images
        run: docker compose build api web
